@import 'tailwindcss';

@theme {
    --font-sans:
        'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --breakpoint-xs: 29.25rem;

    --radius-primary: 0.25rem;
    --radius-modal: calc(sign(100cqi - 100%) * var(--radius-primary));

    --color-background: oklch(0.14 0.01 273);
    --color-background-accent: oklch(0.18 0.008 274);
    --color-foreground: oklch(1 0 90);
    --color-foreground-accent: oklch(0.14 0.01 273);
    --color-primary: oklch(0.91 0.237 129);
    --color-accent: oklch(0.71 0.195 48);
    --color-primary-muted: oklch(0.63 0.186 260);
    --color-foreground-muted: oklch(1 0 90 / 20%);

    --shadow-accent:
        0 0 #0000, 0 0 #0000,
        0 0 14px color-mix(in srgb, oklch(0.71 0.195 48) 55%, transparent);
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }

    button {
        @apply cursor-pointer;
    }

    .bg-linear-primary {
        @apply from-primary via-primary to-accent bg-linear-to-r;
    }

    .skeleton {
        @apply animate-pulse bg-gray-300 text-transparent;
    }
}

.hexagon {
    --hex: 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%;
    clip-path: polygon(var(--hex));
    -webkit-clip-path: polygon(var(--hex));
}

/* Better class names */
.hex-border {
    --semi-hex: 0% 25%, 0% 75%, 50% 100%, 50% 75%, 50% 25%, 50% 0%;
    --size: calc(var(--avatar-w) + 0.5rem);
    position: absolute;
    z-index: -1;
    inset-block: 0;
    left: -0.25rem;
    height: calc(var(--size) / 6 * 7);
    width: var(--size);

    clip-path: polygon(var(--semi-hex));
    -webkit-clip-path: polygon(var(--semi-hex));
}

.hex-border::before {
    content: '';
    position: absolute;
    inset-block: 1px;
    left: 1px;
    inset-block: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    @apply bg-background;

    clip-path: polygon(var(--semi-hex));
    -webkit-clip-path: polygon(var(--semi-hex));
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.left-hexagon {
    clip-path: polygon(100% 0%, 100% 100%, 12% 100%, 0% 83%, 0% 11%, 14% 0%);
}
